/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
nav {
  background-color: #feffff;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 99;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #4c447e;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  font-weight: bold;
}
nav a.active,
nav a:hover {
  color: #120d31;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: #120d31;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 5%;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #feffff;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 80;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav a:hover,
  nav a.active {
    background: none;
    color: #120d31;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
/* Navbar END */

/* Hero Section Start */
.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "logo text text";
  grid-gap: 20px;
  padding: 40px;
  background-color: #e3f7f9;
  font-family: "Montserrat", sans-serif;
  margin-top: 15vh;
}

.logo-column {
  grid-area: logo;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo-column img {
  width: 200px;
  height: auto;
}

.text-column {
  grid-area: text;
  display: flex;
}

.text-column h2 {
  font-size: 57px;
  color: #163e63;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .hero-section {
    grid-template-columns: 1fr;
    padding: 20px;
    text-align: center;
    margin-top: 10vh;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .text-column {
    grid-column: 1;
  }

  .text-column h2 {
    font-size: 40px;
  }

  .logo-column img {
    display: none;
  }
}

@media (max-width: 480px) {
  .hero-section {
    margin-top: 15vh;
  }
  .text-column h2 {
    font-size: 25px;
  }
}
/* Hero Section End */

/* Question Section Start */
.question {
  background-color: #162a5f;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px;
  margin-top: 40px;
}

.question h1 {
  color: #ffffff;
  font-size: 67px;
}

@media (max-width: 768px) {
  .question h1 {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .question {
    margin-top: 10px;
  }
  .question h1 {
    font-size: 25px;
  }
}
/* Question Section End */

/* Content Section Start */
.content-section {
  text-align: center;
  margin-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
}

.content-title {
  font-size: 51px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #162a5f;
}

.content-description {
  font-size: 30px;
  margin-bottom: 20px;
  color: #4d4d51;
  font-family: "Inter", sans-serif;
}

.content-events {
  font-size: 30px;
  margin-bottom: 20px;
  color: #4d4d51;
  font-family: "Inter", sans-serif;
}

.img-content {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 40px;
}

.img-content img {
  width: 700px;
  height: auto;
}

@media (max-width: 768px) {
  .content-title {
    font-size: 32px;
  }

  .content-description,
  .content-events {
    font-size: 28px;
  }

  .img-content img {
    width: 500px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .content-title {
    font-size: 28px;
  }

  .content-description,
  .content-events {
    font-size: 18px;
  }

  .img-content img {
    width: 300px;
    height: auto;
  }
}
/* Content Section End */

/* Footer Start */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #464d70;
  padding: 20px;
  margin-top: 40px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.footer-left {
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #163e63;
  font-weight: bold;
  font-size: large;
}
.footer-left img {
  width: 100px;
}

.footer-left p {
  margin-top: 10px;
}

.footer-middle h3,
.footer-right h3 {
  margin-bottom: 10px;
}

.social-media li,
.contact-info li {
  list-style: none;
  margin-bottom: 5px;
}

.social-media a,
.contact-info li {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  margin-top: 15px;
  font-size: larger;
  color: #ffffff;
}

.social-media a i,
.contact-info li i {
  margin-right: 5px;
}

.social-media a:hover {
  color: #162a5f;
}

.fa-twitter {
  color: #33ccff;
}

.fa-facebook {
  color: #337fff;
}

.fa-phone,
.fa-envelope {
  color: #222222;
}

.fa-whatsapp {
  color: #00d95f;
}

.fa-instagram {
  background: linear-gradient(45deg, #fbe18a, #d43592);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-info li i {
  width: 20px;
}

.contact-info li span {
  margin-left: 5px;
}

/* Screen < 768px */
@media (max-width: 768px) {
  footer {
    display: grid;
    grid-template-areas:
      "footer1 footer1"
      "footer3 footer4";
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    padding: 20px;
    margin-top: 40px;
  }

  .footer-left {
    grid-area: footer1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-middle {
    grid-area: footer3;
  }

  .footer-right {
    grid-area: footer4;
  }

  .footer-middle,
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-middle h3,
  .footer-right h3 {
    margin-bottom: 10px;
  }

  .social-media a,
  .contact-info li {
    font-size: 16px;
  }
}

/* Screen < 480px */
@media (max-width: 480px) {
  footer {
    display: grid;
    grid-template-areas:
      "left"
      "middle"
      "right";
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
    padding: 20px;
  }

  .footer-left {
    grid-area: left;
    margin-bottom: 20px;
  }

  .footer-middle {
    grid-area: middle;
    text-align: left;
    margin-bottom: 20px;
  }

  .footer-right {
    grid-area: right;
    text-align: left;
  }

  .img-content img {
    max-width: 400px;
  }
}
/* Footer End */
