/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
nav {
  background-color: #feffff;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 99;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
}
nav ul {
  float: right;
  margin-right: 20px;
}
/*sejajar*/
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #4c447e;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  font-weight: bold;
}
nav a.active,
nav a:hover {
  color: #120d31;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: #120d31;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 5%;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #feffff;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 80;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav a:hover,
  nav a.active {
    background: none;
    color: #120d31;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
/* Navbar END */

/* Hero Section Start */
.hero-section {
  margin-top: 70px;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}
/* Next prev button*/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/*next button*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Hero Section End */

/* Welcome Section Start */
.welcome-section {
  text-align: center;
}

.title {
  background-color: #162a5f;
  color: #ffffff;
  padding: 20px;
}

.title h2 {
  font-size: 50px;
}

.title h1 {
  font-size: 60px;
}

.text {
  color: #68696a;
  padding: 20px;
  font-size: 37px;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  .title,
  .text {
    padding: 10px;
  }

  .title h2 {
    font-size: 20px;
  }

  .title h1 {
    font-size: 30px;
  }

  .text {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

/* Welcome Section End */

/* Content Section Start */
.content-section {
  text-align: center;
}

.title-content {
  background-color: #162a5f;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: bold;
}

.logo-img {
  text-align: left;
  padding-left: 5%;
}

.container-img-content {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.img-content {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.img-content img {
  max-width: 900px;
  height: auto;
}

.img-content > div {
  position: absolute;
  bottom: 20px;
  left: 10px;
  background-color: #ffffff;
  color: #000000;
  padding: 5px 10px;
  border-radius: 30px;
}

.title-section-content {
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 40px;
}

.text-section-content {
  margin-bottom: 20px;
  font-size: 31px;
  color: #868698;
  padding-left: 20%;
  padding-right: 20%;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
  .title-content {
    font-size: 30px;
  }
  .logo-img {
    text-align: center;
    padding-left: 0;
  }

  .title-section-content {
    font-size: 30px;
    margin-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .text-section-content {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
  }

  .img-content img {
    max-width: 500px;
  }
}
/* Content Section End */

/* Button see more Start */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.see-more {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #162a5f;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.see-more:hover {
  background-color: #133a6d;
}

.arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  margin-left: 5px;
}
/* Button see more End*/

/* Footer Start */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #464d70;
  padding: 20px;
  margin-top: 40px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.footer-left {
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #163e63;
  font-weight: bold;
  font-size: large;
}
.footer-left img {
  width: 100px;
}

.footer-left p {
  margin-top: 10px;
}

.footer-middle h3,
.footer-right h3 {
  margin-bottom: 10px;
}

.social-media li,
.contact-info li {
  list-style: none;
  margin-bottom: 5px;
}

.social-media a,
.contact-info li {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  margin-top: 15px;
  font-size: larger;
  color: #ffffff;
}

.social-media a i,
.contact-info li i {
  margin-right: 5px;
}

.social-media a:hover {
  color: #162a5f;
}

.fa-twitter {
  color: #33ccff;
}

.fa-facebook {
  color: #337fff;
}

.fa-phone,
.fa-envelope {
  color: #222222;
}

.fa-whatsapp {
  color: #00d95f;
}

.fa-instagram {
  background: linear-gradient(45deg, #fbe18a, #d43592);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-info li i {
  width: 20px;
}

.contact-info li span {
  margin-left: 5px;
}

/* screen < 768px */
@media (max-width: 768px) {
  footer {
    display: grid;
    grid-template-areas:
      "footer1 footer1"
      "footer3 footer4";
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    padding: 20px;
    margin-top: 40px;
  }

  .footer-left {
    grid-area: footer1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-middle {
    grid-area: footer3;
  }

  .footer-right {
    grid-area: footer4;
  }

  .footer-middle,
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-middle h3,
  .footer-right h3 {
    margin-bottom: 10px;
  }

  .social-media a,
  .contact-info li {
    font-size: 16px;
  }
}

/* screen < 480px */
@media (max-width: 480px) {
  footer {
    display: grid;
    grid-template-areas:
      "left"
      "middle"
      "right";
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
    padding: 20px;
  }

  .footer-left {
    grid-area: left;
    margin-bottom: 20px;
  }

  .footer-middle {
    grid-area: middle;
    text-align: left;
    margin-bottom: 20px;
  }

  .footer-right {
    grid-area: right;
    text-align: left;
  }

  .img-content img {
    max-width: 400px;
  }
}

/* Footer End */
